
<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicon -->

	<link rel="stylesheet" href="/static/css/css.css" type="text/css" media="all">
	<!-- modernizr js -->
	<script src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/ckplayer/ckplayer.js" charset="UTF-8"></script>
		
</head>
<body>
    <div class="bg"></div>
    
    <div class="header">
        <div class="main">
            <div class="main-left">2024 WINTER DESIGN EXPO</div>
            <div class="main-right">
                <div class="bounce-animate2">
                    <img src="/static/images/slider-shape2.png" alt="shape">
                </div>
                <a href="/" class="go-back"><img src="/static/images/back.png"></a>
            </div>
        </div>
    </div>
    <section class="v1">
        <div class="v2">
            <div class="left"><img src="/static/images/v.png"></div>
            <div class="right">
                <h3 style="height:50px;"><span style="color:#fff; margin-right: 10px;">SHARED BIKE DETECTION</span></h3>
                <div class="video" style="width:800px;height:450px;" id="video">
                    <img src="/video_feed" style="max-width: 100%; height: 450px;">
                </div>
            </div> 
        </div>
        <div class="v3">
            <h3 style="text-align:center;"><span style="color:#fff; margin-right: 10px;">Alarm Record</span></h3>
            <div class="message">

            </div>
        </div>
    </section>
</body>
<script type="text/javascript">
   
    $(function(){
        setInterval(() => {
            $.ajax({
                url:'/msg',
                type:'get',
                success:function(res){
                    console.log(res.msg.length);
                    if(res.msg.length > 0){
                        let html = ""
                        res.msg.forEach(item=>{
                            html+="<p>"+item+"</p>";
                        })
                        $('.message').html(html);
                    }
                }
            })
        }, 1000);
        
    })
</script>
</html>