
<!DOCTYPE HTML>
<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicon -->

	<link rel="stylesheet" href="/static/css/css.css" type="text/css" media="all">
	<!-- modernizr js -->
	<script src="/static/js/jquery.js"></script>
</head>
<body>
    <div class="bg"></div>
    
    <div class="header">
        <div class="main">
            <div class="main-left"><span style="color:#fff; margin-right: 10px;">2024 WINTER DESIGN EXPO</span></div>
            
        </div>
    </div>
    <div class="container">
        <span style="color:#ecc93c; margin-right: 10px;">Shared-Bike</span> Detection & Warning with <span style="font-size: 40px; color:#ecd13c;margin-left: 10px;">IOT</span>

    </div>
    <div class="conimg">
        <div class="imgleft">
            <img src="/static/images/main1.jpg" class="img" alt="shape">
            <div class="btnl">
                <a href="/detect"><span style="color:#ecc93c; margin-right: 10px;">Start Detect </span><img style="margin-left: 15px;" src="/static/images/next.gif"></a>
            </div>
        </div>
        <div class="imgright">
            <img src="/static/images/main2.jpg" class="img" alt="shape">

            <div class="btnr">
                <a href="/learn"><span style="color:#ecc93c; margin-right: 10px;">Learn More</span> <img style="margin-left: 15px;" src="/static/images/next.gif"></a>
            </div>
        </div>
    </div>
</body>
</html>