
<!DOCTYPE HTML>
<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicon -->

	<link rel="stylesheet" href="/static/css/css.css" type="text/css" media="all">
	<!-- modernizr js -->
	<script src="/static/js/jquery.js"></script>
</head>
<body>
    <div class="bg"></div>
    
    <div class="header">
        <div class="main">
            <div class="main-left">2024 WINTER DESIGNEXOP</div>
            <div class="main-right">
                <div class="bounce-animate2">
                    <img src="/static/images/slider-shape2.png" alt="shape">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <span style="color:#3c8aec; margin-right: 10px;">Shared-Bike</span> Detection & Warning with <span style="font-size: 40px; color:#3c8aec;margin-left: 10px;">IOT</span>
        <div class="rotate">
            <img src="/static/images/slider-shape1.png" alt="shape">
        </div>
    </div>
    <div class="conimg">
        <div class="imgleft">
            <img src="/static/images/main1.jpg" class="img" alt="shape">
            <div class="btnl">
                <a href="/detect">Start Detect <img style="margin-left: 15px;" src="/static/images/next.gif"></a>
            </div>
        </div>
        <div class="imgright">
            <img src="/static/images/main2.jpg" class="img" alt="shape">

            <div class="btnr">
                <a href="/learn">Learn More <img style="margin-left: 15px;" src="/static/images/next.gif"></a>
            </div>
        </div>
    </div>
</body>
</html>