
<!DOCTYPE HTML>
<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicon -->

	<link rel="stylesheet" href="/static/css/css.css" type="text/css" media="all">
	<!-- modernizr js -->
	<script src="/static/js/jquery.js"></script>
</head>
<body>
    <div class="bg"></div>
    
    <div class="header">
        <div class="main">
            <div class="main-left">2024 WINTER DESIGNEXOP</div>
            <div class="main-right">
                <div class="bounce-animate2">
                    <img src="/static/images/slider-shape2.png" alt="shape">
                </div>
                <a href="/" class="go-back"><img src="/static/images/back.png"></a>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="section1">
            <div class="section2">
                <span>about</span>
                <span style="color: #3c8aec;">US</span>
            </div>
            <div class="section3"><span>Group Name: Yuki Suou</span> <span>Members:xxxXXXXXX XXX</span></div>
        </div>
        <div class="section1">
            
            <div class="section3">
                <span>The increasing number of shared bikes has createdchallenges with irregular parking and commuting. Manualsupervision is inefficient, and no autonomous solutions exist.Our project aims to provide a cost-effective, autonomoussolution to change this phenomenon.</span>
                
                <div class="btn">
                    <a href="index.html">Link Report <img style="margin-left: 15px;" src="/static/images/next.gif"><img  src="/static/images/next.gif"></a>
                </div>
            </div>
                <div class="section2"><span>about this</span> <span style="color: #3c8aec;">PROJECT</span></div>
        </div>
        <div class="section1">
            <div class="section2"><span>about</span><span style="color: #3c8aec;">YOLO</span></div>
            <div class="section3">
            <span>YOLO (You Only Look Once) is an efficient objectdetection model that divides the image into a grid, predictsbounding boxes and class probabilities for each grid cell,and processes the image in a single pass through aconvolutional neural network (CNN).</span>
            <div class="btn">
                <a href="index.html">Link YOLO <img style="margin-left: 15px;" src="/static/images/next.gif"><img  src="/static/images/next.gif"></a>
            </div>
        </div>
        </div>
    </section>
</body>
</html>