
<!DOCTYPE HTML>
<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicon -->

	<link rel="stylesheet" href="/static/css/css.css" type="text/css" media="all">
	<!-- modernizr js -->
	<script src="/static/js/jquery.js"></script>
</head>
<body>
    <div class="bg"></div>
    
    <div class="header">
        <div class="main">
            <div class="main-left">2024 WINTER DESIGN EXPO</div>
            <div class="main-right">
                
                <a href="/" class="go-back"><img src="/static/images/back.png"></a>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="section1">
            <div class="section2">
                <span>about</span>
                <span style="color: #ecc93c;">US</span>
            </div>
            <div class="section3"><span style="font-size: 25px;">Team Yuki</span> <span>Members: Tianyu Cai, Chengrui Hu, Yucheng Liu, Ningyuan Wu</span></div>
        </div>
        <div class="section1">
            
            <div class="section3">
                <span>The increasing number of shared bikes has created challenges with irregular parking and commuting. Manual supervision is inefficient, and no autonomous solutions exist. Our project aims to provide a cost-effective, autonomous solution to change this phenomenon.</span>
                
                <div class="btn">
                    <a href="index.html">Link to Our Github Repo <img style="margin-left: 15px;" src="/static/images/next.gif"><img  src="/static/images/next.gif"></a>
                </div>
            </div>
                <div class="section2"><span>about this</span> <span style="color: #eccf3c;">PROJECT</span></div>
        </div>
        <div class="section1">
            <div class="section2"><span>about</span><span style="color: #ecc93c;">YOLO</span></div>
            <div class="section3">
            <span>YOLO (You Only Look Once) is an efficient object detection model that divides the image into a grid, predicts bounding boxes and class probabilities for each grid cell,and processes the image in a single pass through a convolutional neural network (CNN).</span>
            <div class="btn">
                <a href="index.html">Link to Study YOLO <img style="margin-left: 15px;" src="/static/images/next.gif"><img  src="/static/images/next.gif"></a>
            </div>
        </div>
        </div>
    </section>
</body>
</html>